.item-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    position: relative;
    background-color: #292b27;
    padding: 20px;
    border-radius: 16px;
    max-width: 380px;
    .close-btn {
      display: flex;
      padding: 2px;
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: #262826;
      border: 1px solid #2d3939;
      border-radius: 4px;
    }
    h2 {
      color: #eceee3;
      margin-top: 0;
      margin-bottom: 4px;
      font-weight: 400;
    }
    h3 {
      color: #eceee3;
      margin: 0 0 16px 0;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .modal-footer {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
    button {
      padding: 6px 12px;
    }
    .cancel {
      color: #deff55;
      background: none;
      border: none;
    }
    .save {
      background-color: #262826;
      border: none;
      border-radius: 4px;
    }
  }
  div.input-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    div.input-group {
      width: calc(50% - 8px);
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        color: #cca5a5;
        font-size: 12px;
      }
      input {
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        background-color: #3f413d;
        color: #e5efef;
      }
    }
  }
}
